<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
   
    <div class="container-fluid justify-content">
      <a class="navbar-brand" href="{% url 'crud' %}">List all visitors</a>
    


      <a class="navbar-brand" href="{% url 'crud' %}">GudarFest</a>
     
  
      <a href="{% url 'logout' %}">
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0"  type="button">logout   <i class="fas fa-sign-out-alt"></i></button>
        </form>
      </a>
    </div>
  </nav>